<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Profile</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

</head>
<body>
<div class="container">
    <form action="/customer" method="post"  class="form-group">
        Name <input class="form-control" type="text" name="name">
        Family <input class="form-control" type="text" name="family">
        Phone <input class="form-control" type="text" name="Phone">
        Email <input class="form-control" type="email" name="email">
        National_id <input class="form-control" type="text" name="national_id">
        Birth_date <input class="form-control" type="date" name="birth_date">


        <button class="btn btn-success">Save <i class="fa fa-save"></i></button>
    </form>

</div>

<div id="table-div">
        <table  class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Family</th>
            <th>Phone</th>
            <th>Email</th>
            <th>National ID</th>
            <th>Birth Date</th>
            <th>Operation</th>
        </tr>
        </thead>

        <tbody>
        {% for customer in customer_list[1]: %}
        <tr>
            <td>{{ customer.id }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.family }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.national_id }}</td>
            <td>{{ customer.birth_date }}</td>
            <td>
                <button class="btn btn-warning" onclick="edit({{customer.id}})" >Edit <i class="fa fa-edit"></i></button>
                <button class="btn btn-danger" onclick="remove({{customer.id}})">Remove <i class="fa fa-remove"></i></button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
<script src="{{url_for('static', filename='js/font-awesome.js')}}"></script>
<script src="{{url_for('static', filename='js/customer.js')}}"></script>
</body>
</html>